%h1 Listing blocks

%table
  %thead
    %tr
      %th Name
      %th Block type
      %th Order
      %th Duration
      %th
      %th
      %th

  %tbody
    - @blocks.each do |block|
      %tr
        %td= block.name
        %td= block.block_type
        %td= block.order
        %td= block.duration
        %td= link_to 'Show', event_day_block_path(@event, @day, block)
        %td= link_to 'Edit', edit_event_day_block_path(@event, @day, block)
        %td= link_to 'Destroy', event_day_block_path(@event, @day, block), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Block', new_event_day_block_path(@event, @day)
