%p#notice= notice

%p
  %b Name:
  = @block.name
%p
  %b Block type:
  = @block.block_type
%p
  %b Order:
  = @block.order
%p
  %b Duration:
  = @block.duration

= link_to 'Edit', edit_event_day_block_path(@event, @day, @block)
\|
= link_to 'Back', event_day_blocks_path(@event, @day)
