= form_for [@event, @day] do |f|
  - if @day.errors.any?
    #error_explanation
      %h2= "#{pluralize(@day.errors.count, "error")} prohibited this day from being saved:"
      %ul
        - @day.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :name
    = f.select :name, Date::DAYNAMES, {}, { class: 'form-control' }
  .form-group
    = f.label :start_time
    = f.datetime_field :start_time
  = f.submit 'Save Day', class: 'btn btn-primary'
