.day[@day]
  .row
    .col-md-12
      #{@day.name} - #{link_to 'Edit', edit_event_day_path(@event, @day)}
  .row
    .col-md-12
      = link_to "New Block", new_event_day_block_path(@event, @day),
                class: 'btn btn-primary'
  .row
    .col-md-12
      %table.table
        %thead
          %tr
            %th
            %th
            %th Name
            %th
            %th
            %th
        - @day.blocks.each do |block|
          %tr{class: "block_#{block.block_type}"}
            %td
              EARLIER
            %td
              LATER
            %td
              = link_to block.name, event_day_block_path(@event, @day, block)
            %td
              = block.duration
            %td
              START
            %td
              END
